# Theme colors
[colors]
draw_bold_text_with_bright_colors = true

[colors.primary]
background = '{{colors.bg}}'
foreground = '{{colors.fg}}'

[colors.cursor]
text = '{{colors.bg}}'
cursor = '{{colors.fg}}'

[colors.vi_mode_cursor]
text = '{{colors.bg}}'
cursor = '{{colors.fg}}'

[colors.selection]
text = '{{colors.fg}}'
background = '{{colors.selection}}'

[colors.search.matches]
foreground = '{{colors.bg}}'
background = '{{colors.accent}}'

[colors.footer_bar]
background = '{{colors.selection}}'
foreground = '{{colors.fg}}'

[colors.hints.start]
foreground = '{{colors.bg}}'
background = '{{colors.accent}}'

[colors.hints.end]
foreground = '{{colors.accent}}'
background = '{{colors.selection}}'
