# Font settings
[font]
size = 18.0
normal = { family = "FiraCode Nerd Font Mono", style = "Regular" }
bold = { family = "FiraCode Nerd Font Mono", style = "Bold" }
italic = { family = "FiraCode Nerd Font Mono", style = "Italic" }
bold_italic = { family = "FiraCode Nerd Font Mono", style = "Bold Italic" }

[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001B\r"

# Cmd+` and Ctrl+` send Meta+` for tmux popup toggle
[[keyboard.bindings]]
key = "`"
mods = "Super"
chars = "\u001B`"

[[keyboard.bindings]]
key = "`"
mods = "Control"
chars = "\u001B`"
